body {
    background-color: #333; /* خاکستری تیره */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#entryPage {
    background-color: #444;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#formPage {
    padding: 40px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

button {
    background-color: #fff; /* رنگ سفید برای دکمه */
    color: #333; /* رنگ متن دکمه */
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ddd; /* تغییر رنگ هنگام هاور شدن */
}

.d-none {
    display: none;
}

.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
